.campaign-card {
    display: flex;
    min-height: 180px;
    min-width: 50vw;
    /* border: 1px solid #ccc; */
    background-color: rgb(247, 249, 250);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px; /* Optional: Adjust margin as needed */
}
.poll-card {
    display: flex;
    min-width: 10vw;
    padding: 1px;
    background-color: rgb(247, 249, 250);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.poll-card .card-content{
    flex: 1;
    padding: 12px;
}
.campaign-card img {
    max-width: 180px;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}

.campaign-card .card-content {
    flex: 1;
    padding: 12px;
}

.campaign-card .card-content h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.campaign-card .card-content p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
body {
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 2rem;
}
.navbar li {
    margin-right: 20px;
}
.navbar a {
    text-decoration: none;
    color: rgb(55, 55, 213);
    font-weight: bold;
    padding: 10px;
}
.navbar a.active{
    border-bottom: 2px solid rgb(55, 55, 213);
}

